Python/PlayGround/demo/visualization/plotly/data/*.html linguist-vendored
Python/PlayGround/demo/web/requests/data/*.html linguist-vendored
Python/PlayGround/demo/data-source/json/data/*.html linguist-vendored