{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FUWENBEN</title>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}"/>
	<script type="text/javascript" src="{% static 'myapp/js/jquery-3.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'myapp/js/mlin.js' %}"></script>
	<script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
	<script type="text/javascript">
		tinyMCE.init({
			'mode':'textareas',		
			'theme':'advanced',		
			'width':'600',		
			'height':'300',		
		})
	</script>
</head>
<body>
	<h1>FUWENBEN</h1>
	<form>
		<textarea name="str">mlin is from China.</textarea>
	</form>
</body>
</html>
