<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WorkflowServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://oa-e9.quanxinhe.cn/services/WorkflowService"
                binding="basicHttpBinding" bindingConfiguration="WorkflowServiceHttpBinding"
                contract="E9WorkflowService.WorkflowServicePortType" name="WorkflowServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>