<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqInAction.Chapter05.Properties.Settings.LinqBooksConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;|DataDirectory|\lia.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True" />
    </connectionStrings>
</configuration>