<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="{{ url_for('result') }}" method="POST">
        <p>姓名：<input type="text" name="name"></p>
        <p>年龄：<input type="text" name="age"></p>
        <p>性别：<input type="text" name="gender"></p>
        <p>地址：<input type="text" name="address"></p>
        <p><input type="submit" value="提交"></p>
    </form>
</body>
</html>