<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OAWorkflow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OAWorkflow.Properties.Settings>
            <setting name="OAWorkflow_OA_RequestService" serializeAs="String">
                <value>http://192.168.1.102:81//services/RequestService</value>
            </setting>
        </OAWorkflow.Properties.Settings>
    </applicationSettings>
</configuration>